### Terraform ###

# Local .terraform directories
**/.terraform/*
**/.terraform

# .tfstate files
*.tfstate
*.tfstate.*

# Terraform modules managed by the shell, lock just gets in the way
.terraform.lock.hcl

provision/physical/iso

.direnv

# Qcow image builder artifacts we dont care about
result
main.raw
provision/sim/image.qcow2
